OA_App_WPF/OA_App/Service References/ServiceRef/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49624/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcf_itp_sa" />
  <xs:element name="get_All_Items">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_All_ItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcf_itp_sa" minOccurs="0" name="get_All_ItemsResult" nillable="true" type="q1:ArrayOfNew_Project_Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_UserType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_UserTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Select_UserTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_EmployeeDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_EmployeeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcf_itp_sa" minOccurs="0" name="get_EmployeeDetailsResult" nillable="true" type="q2:ArrayOfEmployee_Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>